---
import { getEntryBySlug } from 'astro:content';

const { slug } = Astro.params;
const post = await getEntryBySlug('blog', slug);
---

<html>
  <head>
    <title>{post.data.title}</title>
  </head>
  <body>
    <h1>{post.data.title}</h1>
    <p>{post.data.date.toDateString()}</p>
    <article>
      {post.body}
    </article>
  </body>
</html>